
.icon-user:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */